.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header img {
    animation: imgRotate 50s linear infinite;
}


:root{ 
    --white: #fff;
    --main-color: #32C392; 
}
.demo{ background-color: #e7e7e7; }
.serviceBox{
    color: var(--main-color);
    background: linear-gradient(to top,var(--main-color) 9%, var(--white) 0%);
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    padding: 30px 25px;
    border-radius: 30px 30px;
    position: relative;
    z-index: 1;
}
.serviceBox:before{
    content: "";
    background: #FCFCFC;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 25px 25px;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.serviceBox .service-icon{
    color: var(--white);
    background: var(--main-color);
    font-size: 40px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    margin: 0 auto 20px;
}
.serviceBox .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 12px;
}
.serviceBox .description{
    color: #444;
    font-size: 15px;
    line-height: 22px;
}
.serviceBox.blue{ --main-color: #35b4c8; }
.serviceBox.yellow{ --main-color: #f37f12; }
.serviceBox.purple{ --main-color: #5557B4; }
.serviceBox.pink{ --main-color: #ff0066; }
@media only screen and (max-width: 990px){
   .serviceBox{ margin: 0 10px 30px; }
}
